.rep-detail-page-wrapper{
    display: flex;
    flex-direction: row;
}

.detail-icon{
    font-size: xx-large;
}

.test_rep_page{
    font-size: xx-small;
}

@media(max-width: 768px){
    .rep-detail-page-wrapper{
        display: flex;
        flex-direction: column;
    }
}