

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.left-div {
    width: 20%;
    border: 1px solid black;
    white-space: normal;
}

.center-div {
    width: 50%;
    /* border: 1px solid black; */
    white-space: normal;
    overflow-y:auto;
    max-height:900px;
    min-height: 500px;
}

.center-div a{
    text-decoration: none;
}

.flex-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(172, 172, 158);
    color: black;
    padding: .5rem;
    margin: .5rem;
    border-radius: 5px;
}

.flex-div p{
    padding-right: .5rem;
    width: 70%;
}
.flex-div img{
    width: auto;
}


.right-div {
    width: 30%;
    /* border: 1px solid black; */
    white-space: normal;
    overflow-y:auto;
    max-height:900px;
}

@media(max-width: 768px){
    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    .left-div {
        margin: .5rem auto;
        width: 80%;
        height: 200px;
        border: 1px solid black;
        white-space: normal;
    }
    
    .center-div {
        margin: .5rem auto;
        width: 80%;
        min-height: 300px;
        border: 1px solid black;
        white-space: normal;
    }
    
    .right-div {
        border: 1px solid black;
        white-space: normal;
        width: 80%;
        margin: .5rem auto;
        height: 500px;
    }
}
